@use "../variables/variables.scss" as colors;

header#header {
    min-height: 70px;
    padding: 0 32px;
    background-color: colors.$dark;
    color: colors.$primary;
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    a {
        color: colors.$primary;
    }
}
